@charset "utf-8";

/*footer*/

footer {
	text-align: center;
}

footer p {
	margin: 0;
}

.flogo {
	margin-top: 55px;
}

.copyright {
	color: #978473;
	margin-top: 30px;
	margin-bottom: 25px;
}


/*show*/

.show {
	padding-top: 40px;
	padding-bottom: 60px;
}

.show div {
	padding: 1%;
}

.show div ul {
	width: 98%;
}

.show div ul h2 {
	font-size: 20px;
	color: #978473;
	font-weight: normal;
}

.show div ul li {
	overflow: hidden;
}

.show div ul li img {
	transition: all .8s;
	width: 100%;
}

.show div ul li img:hover {
	transform: scale(1.2);
}