			.photo {
				position: relative;
				background-attachment: fixed;
				background-position: 50% 0;
				background-repeat: no-repeat;
			}
			/*symbol1*/
			
			.symbol {
				background: url(../img/02_03.png) no-repeat top center;
				position: relative;
				margin-top: -38px;
				padding-top: 70px;
			}
			
			.symbol .info {
				text-align: center;
				margin: 45px 0;
			}
			
			.p1 {
				height: 530px;
				background: url(../img/c-02.jpg) no-repeat;
			}
			/*symbol2*/
			
			.symbol2 {
				background: url(../img/02_04.png) no-repeat center top !important;
			}
			
			.symbol .info2 {
				text-align: center;
				height: 690px;
				max-width: 1300px;
				margin: 0 auto;
				padding-top: 55px;
			}
			
			.symbol .info2 ul {
				float: left;
				width: 50%;
			}
			
			.symbol .info2 ul li {
				float: left;
				max-width: 299px;
				width: 46%;
				margin-right: 4%;
			}
			
			.symbol .info2 ul img {
				width: 100%;
			}
			
			.symbol .info2 ul li:first-child {
				margin-top: 100px;
			}
			
			.symbol .info2 div {
				float: right;
				width: 45%;
				line-height: 55px;
				text-align: left;
				margin-top: 130px;
				font-size: 20px;
			}
			
			.symbol .info2 div p {
				color: #978473;
			}
			
			.p2 {
				height: 530px;
				background: url(../img/c-03.jpg) no-repeat;
			}
			/*symbol3*/
			
			.symbol3 {
				background: url(../img/02_06.png) no-repeat center top !important;
			}
			
			.symbol3 .info2 ul li {
				max-width: none;
				width: initial;
			}
			
			.p3 {
				height: 530px;
				background: url(../img/c-04.jpg) no-repeat;
			}
			/*symbol4*/
			
			.symbol4 {
				background: url(../img/02_05.png) no-repeat center top !important;
			}
			
			@media only screen and (max-width: 1024px) {
				.symbol .info2 div {
					padding: 0 55px;
				}
				.symbol .info2 ul {
					padding-left: 50px;
					margin-top: 60px;
				}
			}
			
			@media screen and (max-width: 980px) {
				.symbol .info2 {
					width: 90%;
					margin: 0 auto;
					height: 530px;
				}
			}
			
			@media screen and (max-width: 800px) {
				.am-topbar-nav>li>a {
					padding: 0 10px;
				}
				.symbol .info2 div {
					padding: 0;
					margin-top: 0;
				}
				.symbol .info2 ul {
					padding-left: 6px;
					margin-top: 15px;
				}
				.symbol .info2 ul li:first-child {
					margin-top: 100px;
				}
				.symbol3 .info2 {
					padding-top: 120px;
				}
				.symbol3 .info2 ul li:first-child {
					margin-top: 0;
				}
			}
			
			@media screen and (max-width: 640px) {
				.photo .info>img {
					width: 80%;
					max-width: 446px;
				}
				.symbol .info2 {
					padding-top: 15px;
					height: 380px;
				}
				.symbol .info2 div {
					line-height: 35px;
					font-size: 16px;
					margin-top: 0px;
				}
				.show .am-u-sm-4 {
					width: 100%;
				}
				.show div ul {
					padding: 4%;
					margin: 0 auto;
				}
				.am-icon-arrow-circle-up {
					bottom: 8px;
					right: 15px;
					font-size: 35px;
				}
			}
			
			@media screen and (max-width: 320px) {
				.symbol .info2 div {
					line-height: 35px;
					font-size: 14px;
					margin-top: 0px;
				}
			}