@charset "utf-8";
.row1 {
	position: relative;
}

.row1 p {
	position: absolute;
	text-align: center;
	font-size: 20px;
	top: 45%;
	left: 45%;
	color: #a19a91;
}

.imgBox {
	overflow: hidden;
	margin-top: 32px;
}

.imgBox img {
	transition: all 1s;
}

.imgBox:hover img {
	transform: scale(1.2);
}

.row2 p {
	padding-top: 1%;
	margin-bottom: 0;
	margin-top: 0;
}

.row2 p a {
	font-size: 1.4rem;
	color: #A38B77;
	line-height: 2rem;
}

.row2 p a:hover {
	color: #4b3c2e;
}